%div.posts
  %h1.content-subhead
  %section.post
    %header.post-header
      %h2
        %i.fa.fa-user.fa-lg
        Sign up
    %div.post-description
      = link_to 'Create Account Here', new_user_registration_path
