= render 'users/profile_header'

#layout.pure-g
  = render 'users/profile_sidebar'

  %div.content.pure-u-1.pure-u-md-3-4
    %div
      %div.posts
        %h1.content-subhead
        %section.post
          %header.post-header
            %h2
              Edit Resume
          %div.post-description
            %div.profile_form
              = render 'form', form_action: :update
