%div.content.pure-u-1.pure-u-md-3-4
  %div
    %div.posts
      %h1.content-subhead
      %section.post
        %header.post-header
          %h2
            %i.fa.fa-file-text.fa-lg
            Edit Resume
            = link_to home_path(@user.nick), class: 'edit_link' do
              %i.fa.fa-arrow-circle-o-left.fa-lg
        %div.post-description
          %div.profile_form
            = render 'form', form_action: :update
