div.common-linkbar {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 8px;

    .pure-button,
    form {
        float: left;
        margin-right: 4px;
    }
}

@mixin font-awesome-icon($icon-code) {
    font-family: FontAwesome;

    &:before {
        content: $icon-code;
    }
}

.flash_message {
    .pure-button {
        margin: 8px 48px;;
        text-align: left;
        display: block;

        &.button-notice {
            @include font-awesome-icon("\f05a");
            background: #e1f2fa;
            color: #5992aa;
        }

        &.button-error {
            @include font-awesome-icon("\f057");
            background: #f5ab9e;
            color: #8c3a2b;
        }

        &.button-warning {
            @include font-awesome-icon("\f071");
            background: #fcebbd;
            color: #af9540;
        }
    }
}
