%div.content.pure-u-1.pure-u-md-3-4
  %div
    %div.posts
      %h1.content-subhead
      %section.post
        %header.post-header
          %h2
            User Tags
        %div.post-description
          = render 'tags', tags: @tags
  = paginate @tags
